html {
    font-family: dawning-of-a-new-day, sans-serif;
    background-color: darkkhaki;
}

body {
    padding-top: 60px;
    background-color: darkkhaki;
}

footer {
    padding-top: 50px;
}

.navbar {
    background-color: darkkhaki;
}

.navbar-default {
    border-bottom: none;
}

.jazz-font {
    font-family: dawning-of-a-new-day;
    font-size: 50px;
    padding-bottom: 10px;
}

#mapid {
    height: 300px;
    margin-top: 25px;
}

.small-logo-container {
    /*padding-top: 60px;*/
    height: 60px;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
}

.small-logo {
    color: white;
    font-size: 2em;
    padding-bottom: 10px;
    margin-top: 0px;
    display: none;
}

.big-logo-container {
    padding-top: 60px;
}

.social {
    padding-top: 60px;
}

.contact-form {
    padding-top: 40px;
}

.about-container {
    overflow: hidden;
    /*visibility: hidden;*/
}

/*@media screen and (min-width: 480px) and (max-width: 720px){*/
/*    #about-video {*/
        
/*    }*/
/*}*/


.about-section {
    /*max-height: 100%;*/
    height: 1000px;
    background-image: url("../images/mansion.jpg");
    overflow: auto;
    visibility: visible;
    margin-right: -100px;
    padding-right: 100px;
}

.video {
    padding-left: 30px;
    padding-top: 20px;
    /*height: 100px;*/
    width: 100%;
}

.why-section {
    padding: 20px;
}

.about-container {
    overflow: auto;
    visibility: hidden;
}

.bar-menu {
    /*height: 500px;*/
    background-image: url("../images/download2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.drink-table {
    padding-top: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.drink-table table tr td {
    font-size: large;
    border-color: rgba(0, 0, 0, 0);
}

.drink-table tr:hover td {
    background-color: darkkhaki;
}

.carousel-custom {
    /*padding: 0px;*/
}

.navbar-default .navbar-nav>.active>a {
    background-color: #968700;
}

#scroll-container: {
    height: 1000px;
    position: absolute;
    /*overflow: hidden;*/
}

.scroll-target {
    /*display: none;*/
    height: 350px;
}

#scroll-target-1{
    display: inline;
}
 .video-header {
     text-align: center;
 }
 
 .about-picture {
     width: 200px;
 }